{% extends '@DdrUtils/bootstrap.html.twig' %}

{% block body %}
    <div class="container">
        {% block ddr_doctrine_entity_content %}
        {% endblock ddr_doctrine_entity_content %}
    </div>
{% endblock body %}
