parameters:
    level: 8
    paths:
        - src
        - tests
    checkMissingOverrideMethodAttribute: true
    ignoreErrors:
        - '#Trait Dontdrinkandroot\\DoctrineBundle\\Entity\\UpdatedAtTrait is used zero times and is not analysed\.$#'
        - '#Trait Dontdrinkandroot\\DoctrineBundle\\Entity\\UuidTrait is used zero times and is not analysed\.$#'
        - '#Trait Dontdrinkandroot\\DoctrineBundle\\Entity\\CreatedAtTrait is used zero times and is not analysed\.$#'
        - '#Trait Dontdrinkandroot\\DoctrineBundle\\Entity\\GeneratedIdTrait is used zero times and is not analysed\.$#'
        - '#Trait Dontdrinkandroot\\DoctrineBundle\\Entity\\AssignedIdTrait is used zero times and is not analysed\.$#'
        - '#Trait Dontdrinkandroot\\DoctrineBundle\\Entity\\AssignedIdColumnTrait is used zero times and is not analysed\.$#'
