parameters:
    level: 8
    paths:
        - src
        - tests
    excludePaths:
        - src/DependencyInjection/Configuration.php
    checkMissingOverrideMethodAttribute: true
    ignoreErrors:
        - '#Trait .*AssignedIdTrait is used zero times and is not analysed\.$#'
