<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true" bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>./Tests/Unit</directory>
        </testsuite>
        <testsuite name="Integration Tests">
            <directory>./Tests/Integration</directory>
        </testsuite>
        <testsuite name="Acceptance Tests">
            <directory>./Tests/Acceptance</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./Resources</directory>
                <directory>./Tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>

</phpunit>
