name: "Continuous Integration"

on:
    push:
        branches: [ master ]

env:
    fail-fast: true

jobs:
    phpunit:
        name: "PHPUnit"
        runs-on: "ubuntu-20.04"

        strategy:
            matrix:
                php-version:
                    - "7.4"
                    - "8.0"
                deps:
                    - "highest"
                    - "lowest"

        steps:
            -   name: "Checkout"
                uses: "actions/checkout@v2"
            -   name: "Install PHP"
                uses: "shivammathur/setup-php@v2"
                with:
                    php-version: "${{ matrix.php-version }}"
                    coverage: "pcov"
                    ini-values: "zend.assertions=1"
            -   name: "Install dependencies with Composer"
                uses: "ramsey/composer-install@v1"
                with:
                    dependency-versions: "${{ matrix.deps }}"
            -   name: "Run PHPUnit"
                run: "vendor/bin/phpunit --coverage-clover=coverage.clover.xml --log-junit log.junit.xml"
            -   name: "List contents"
                run: "ls -la"
            -   name: "Upload coverage"
                uses: "actions/upload-artifact@v2"
                if: matrix.php-version == '8.0' && matrix.deps == 'highest'
                with:
                    name: "coverage"
                    path: |
                        coverage.clover.xml
                        log.junit.xml

    sonarcloud:
        name: "SonarCloud"
        runs-on: ubuntu-latest
        needs: phpunit
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
                with:
                    fetch-depth: 0
            -   name: Download coverage
                uses: actions/download-artifact@v2
                with:
                    name: coverage
            -   name: SonarCloud Scan
                uses: sonarsource/sonarcloud-github-action@v1.6
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                    SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
